
.cartContainer{
    margin-top: 20px;
   margin-left: 40px;
  margin-bottom: 20px;
  display: flex;
  
}


.carttitledetails {
    margin-top: 30px;
    border: 1px solid grey;
     width: 100%;
     height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
  padding-left: 30px;
  font-weight: 700;
    
}

.designimage{
    margin-top: 40px;
    width: 100px;
    max-height: 100px;
    margin-left: 30px;
    
}
.cartproductdetails{
    border: 1px solid grey;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.producttitledetails{
    font-weight: 100;
    font-size: 16px;
}
.counter{
    margin-top: -60px;
    margin-left: 30px;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   }
   .btn{
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
   }
   .count{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    font-size: 16px;
   }

   .prices{
    height: 100%;
    text-align: right;
    margin-top: 30px;
    margin-left: 80px
   }

   .amount{
    padding-top: 20px;
    font-size: 16px;
    font-family: ‘Open Sans’;
    font-weight: 200;
    color: #202020;
    margin-right: 20px;
    
   }

   .btndetails{
    display: flex;
    border: 1px solid grey;
    width: 100%;
    justify-content: space-around;
   }

   .clearcartbtn{
    margin-top: 20px;
    color: #fff;
    font-weight: 300;
    border-radius: 30px;
    background-color: #7a89e9;
    cursor: pointer;
    border: none;
    margin-left: 5px;
    width: 130px;
    padding: 1rem 0.4rem;
    margin-right: 10px;
    margin-bottom: 20px;
   }
   .totalcontainer{
    margin-left: 100px;
     justify-content: space-between;
     align-items: center;
     width: 300px;
    height: 200px;
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 30px ;

    
   
   }
   .totaltitle{
    font-weight: 600;
   align-content: center;
   
}
   .totaldetails{
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
   
   
 }
 .alignleft{
    margin-left: 30px;
   
 }
 .btncheckout{
    margin-top: 20px;
    color: #fff;
    font-weight: 300;
    border-radius: 30px;
    background-color: #7a89e9;
    cursor: pointer;
    border: none;
    margin-left: 5px;
    width: 200px;
    padding: 1rem 0.4rem;
    margin-right: 10px;
    margin-bottom: 20px;
 }
 
.showmodel{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
     width: 450px;
     height: 300px;
     background-color: #fff;
    padding:4px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.boximportantdesign{
    margin-top: 5px;
    width: 70px;
    height: 60px;
    margin-bottom: 5px;
}
.textpara{
    margin-top: 20px !important;
}
.buttondetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btncacnel{
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: #7a89e9;
    width: 100px;
    padding: 1rem 0.4rem;
}

.btncancel{
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: #7a89e9;
    width: 100px;
    padding: 1rem 0.4rem;
}
.btnremove{
    margin-left: 10px;
    border-radius: 30px !important;
    cursor: pointer;
    border: none;
    background-color:red !important;
    width: 100px;
    padding: 1rem 0.4rem;
    color: #202020 !important;
}