.emptycartcontainer{
    margin: auto;
    width: 50%;
    padding: 10px;
    height: 100%;
    display: block;

}
.emptytitledetail{
    margin-top: 40px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 20px;
  font-weight: 600;


}
.imagedesign{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.emptycartdesc{
    margin-top: 40px;
    font-size: 12px;
     font-weight: 100;
     width: 400px;
     margin-bottom: 20px;
    
}
.btnretun{
    margin-top: 10px;
    color: #fff;
    font-weight: 300;
    border-radius: 30px;
    background-color: #7a89e9;
    cursor: pointer;
    border: none;
    width: 200px;
    padding: 1rem 0.4rem;
    margin-bottom: 20px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;

}

.css-i4bv87-MuiSvgIcon-root {
    width:20px !important;
    height: 20px !important;
}