@import '../../../variables/variables.scss';
.order-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 5px;
}
.bx-calendar-event {
  font-size: 20px !important;
}
.order-header h4 {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.order-header button {
  background-color: $secondary-color;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: $primary-color;
  font-size: 15px;
  font-weight: bold;
  display: inline;
}

.order-header i {
  font-size: 15px;
  font-weight: bold;
  margin-top: 8px;
}

.order-date h6 {
  font-size: 16px;
  font-weight: 400px;
  margin-bottom: 10px;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.title h2 {
  font-size: 20px;
  font-weight: bold;
}
.sub-title {
  display: inline-flex;
  margin: 5px 0;
}
.sub-title h4 {
  font-size: 16px;
  font-weight: 400;
}
.sub-title .bxl-mastercard {
  font-size: 24px;
  font-weight: 400;
  color: orangered;
}
.sub-title .bxs-map {
  font-size: 22px;
  font-weight: 400;
}
.button-invoice button {
  margin-top: 10px;
  padding: 8px;
  font-size: 18px;
}

.address p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.card-two {
  margin-right: 200px;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #333;
}

.loader:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #f9f9f9;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
