@import '../variables/variables.scss';

// ---------------single products----------------
.main-image-1 {
  overflow: hidden;

  img {
    width: 100%;
    height: 50%;
    transition: transform 0.3s ease-in-out;
  }

  &.zoomed img {
    transform: scale(1.2);
  }
}

.enlarged-image-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
  display: none;
  z-index: 5;

  img {
    width: 100%;
    height: auto;
  }
}

.visible {
  display: block;
}

.image-wrapper-1 {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto; /* Add horizontal scroll if necessary */
}

.image-wrapper-1 img {
  flex-shrink: 0;
  width: auto;
  height: 120px;
  margin-right: 10px;
  cursor: pointer;
}

/* Optional styling to improve the image presentation */
.image-wrapper-1::-webkit-scrollbar {
  height: 5px;
}

.image-wrapper-1::-webkit-scrollbar-thumb {
  background-color: $dashdot;
  border-radius: 5px;
}

.image-wrapper-1::-webkit-scrollbar-track {
  background-color: $accent;
}
.buyer-product-wrapper {
  display: flex;
  gap: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  .left-side-1 {
    width: 50%;
  }

  .right-side-1 {
    width: 50%;
  }
}

.buyer-choice-1 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  padding-bottom: 50px;
}

.color-picker-1,
.size-dropdown-1,
.quantity-dial-1 {
  margin-bottom: 10px;
  border: none;

  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type='number'] {
    width: 50px;
    padding: 3px;
  }
}

.buyer-choice-1 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $small-font-size;
  text-align: center;
  margin: 0;
}
.buyer-choice-1 label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $heading-title;
  margin: 0;
  display: flex;
  align-items: center;
}
.buyer-choice-1 label:not(:last-child)::after {
  content: '|';
  margin-left: 5px;
  margin-right: 5px;
  color: $secondary-color;
}
.right-side-1 h2,
h3,
p {
  margin-top: 30px;
}

/* -------------Pagination------------*/
.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: $accent;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.active {
      background-color: $secondary-color;
      font-weight: bold;
    }
  }
}
@media (max-width: $breakpoint-md) {
  .buyer-product-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
.addcartbtn {
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bolder;
  border: none;
  color: #fff;
  background-color: $secondary-color;
  cursor: pointer;
}
.buyNowBtn {
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bolder;
  border: 0.7px solid $secondary-color;
  color: $secondary-color;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
