$primary-color: #F9FAFB;
$white: #ffffff;
$primarydark-color: #222222;
$secondary-color: #7A89E9;
$secondary-color-hover: #5967c7;
$textprimary-color: #ffffff;
$accent: #78909C;
$danger: #dc3545;
$success: #28a745;
$background-dark:#393939;
$textprimary-color-dark:#ccc;
$primary-dark: #555555;