@import "../variables/variables.scss";

.order-container {
  background-color: $primary-color;
  padding: 2px;
  width: 100%;
}
.order-container menu {
  margin-top: 20px;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  padding: 0px 40px;
  border-bottom: 2px solid $accent;
}

.card-container-order {
  background-color: #f9fafb;
  margin: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card-header {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
}

.order-status {
  p {
    align-items: flex-start;
    display: inline;
    text-transform: capitalize;
    font-weight: 700;
  }
  .sub-span {
    color: #1b5e20;
    text-transform: capitalize;
    font-weight: 700;
  }
}
.description-container {
  word-break: break-all;
  hyphens: auto;
}
.card-body {
  width: 100%;
  background-color: $primary-color;
  border: 1px solid $accent;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
}
.card-body img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.card-body-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.card-body-content h3,
.card-body-content p {
  padding-bottom: 15px;
}

.card-left button {
  background-color: $secondary-color;
  color: $primary-color;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: 5s;
}

.card-right button {
  color: $danger;
  border: 2px solid $danger;
  padding: 3px 20px;
  border-radius: 45px;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.card-right button:hover {
  color: $primary-color;
  background-color: $danger;
  transition-duration: 2s;
  cursor: pointer;
}
.order-error {
  margin: 20px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 100px;
}

/* Existing CSS styles */

/* Media Queries */
@media screen and (min-width: 380px) and (max-width: 908px) {
  .card-container-order {
    margin: 20px;
    padding: 10px;
  }

  .card-header {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .order-status p {
    display: inline-flex;
  }
  .card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      margin: 0 40px;
    }
  }

  .card-body-content {
    flex-direction: column;
    align-items: flex-start;
    line-height: normal;
    margin-top: 10px;
  }

  .card-body-content h3,
  .card-body-content p {
    padding-bottom: 5px;
  }

  .card-left button {
    padding: 6px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .card-right button {
    padding: 6px 12px;
    font-size: 14px;
  }
}

// @media screen and (min-width: 480px) {
//   .card-container-order {
//     margin: 10px;
//     padding: 5px;
//   }

//   .card-header {
//     font-size: 12px;
//   }

//   .card-body img {
//     width: 100px;
//     height: 100px;
//     margin-right: 10px;
//   }

//   .card-body {
//     padding: 5px;
//   }

//   .card-body-content h3,
//   .card-body-content p {
//     padding-bottom: 2px;
//   }

//   .card-left button {
//     padding: 4px;
//     font-size: 12px;
//   }

//   .card-right button {
//     padding: 4px 8px;
//     font-size: 12px;
//   }
// }
