@import "../variables/variables.scss";

.content {
  padding: 0 65px;
}
.titles {
  color: $secondary-color;
  padding: 10px 0px;
  font-size: $heading-title;
}

.main-image {
  overflow: hidden;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  &.zoomed img {
    transform: scale(1.2);
  }
}

.enlarged-image {
  position: absolute;
  margin-left: 50px;
  right: 0;
  width: 50%;
  height: 20vh;
  display: none;
  z-index: 5;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.visible {
  display: block;
  padding-left: 20px;
}

.image-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
}

.image-wrapper img {
  flex-shrink: 0;
  width: auto;
  height: 120px;
  margin-right: 10px;
  cursor: pointer;
}

.image-wrapper::-webkit-scrollbar {
  height: 5px;
}

.image-wrapper::-webkit-scrollbar-thumb {
  background-color: $dashdot;
  border-radius: 5px;
}

.image-wrapper::-webkit-scrollbar-track {
  background-color: $accent;
}
.product-wrapper {
  display: flex;
  gap: 20px;

  .left-side-8 {
    width: 50%;
  }

  .right-side-8 {
    width: 50%;
    overflow: auto;
    font-family: $fontfamily;
    box-shadow: 1px 2px 5px 1px $primary-dark;
  }
}
.right-side-8 h1 {
  color: $secondary-color;
}
.right-side-8 h4 {
  font-size: $body-font-size;
}
.right-side-8-p {
  margin-top: 30px;
}
.right-side-8 > * {
  margin-left: 20px;
}

.buyer-choice {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
  margin-top: 30px;
}
.buyer-choice p {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $small-font-size;
  text-align: center;
  margin: 0;
}
.buyer-choice label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  flex: 1;
}
.buyer-choice label:not(:last-child)::after {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
  color: $secondary-color;
}

/* -------------Pagination------------*/
.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: $accent;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.active {
      background-color: $secondary-color;
      font-weight: bold;
    }
  }
}

.edit-product-button {
  margin-top: 35px;
  margin-bottom: 35px;
  height: 25px;
  width: 120px;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  font-weight: 500;
  color: black;
  cursor: pointer;
}
