@import '../variables/variables.scss';

// ---------------single products----------------
.main-image {
  overflow: hidden;
  img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }

  &.zoomed img {
    transform: scale(1.2);
  }
}

.enlarged-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
  display: none;
  z-index: 5;

  img {
    width: 100%;
    height: auto;
  }
}

.visible {
  display: block;
}

.image-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto; /* Add horizontal scroll if necessary */
}

.image-wrapper img {
  flex-shrink: 0;
  width: auto;
  height: 120px;
  margin-right: 10px;
  cursor: pointer;
}

/* Optional styling to improve the image presentation */
.image-wrapper::-webkit-scrollbar {
  height: 5px;
}

.image-wrapper::-webkit-scrollbar-thumb {
  background-color: $dashdot;
  border-radius: 5px;
}

.image-wrapper::-webkit-scrollbar-track {
  background-color: $accent;
}
.product-wrapper {
  display: flex;
  gap: 20px;

  .left-side {
    width: 50%;
  }

  .right-side {
    width: 50%;
  }
}

.buyer-choice {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}
.buyer-choice p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $small-font-size;
  text-align: center;
  margin: 0;
}
.buyer-choice label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $heading-title;
  margin: 0;
  display: flex;
  align-items: center;
}
.buyer-choice label:not(:last-child)::after {
  content: '|';
  margin-left: 5px;
  margin-right: 5px;
  color: $secondary-color;
}
.right-side h2,
h3,
p {
  margin-top: 30px;
}

.edit-product-button {
  margin-top: 35px;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  font-weight: 500;
  color: black;
  cursor: pointer;
}


