@import './colors';
@import './mixins';
@import '../variables/variables.scss';

.container {
    background-color: $primary-color;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include breakpoint(xs){
        background-color: $success;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr;
    }
    @include breakpoint(ms){
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr;
    }
    .left{
        @include flex-center;
        font-size: 20px;
        padding-left: 5rem;
        @include breakpoint(xs){
        justify-content: center;
        padding-left: 0rem;
        }
    }
    .right{
        background-color: $primary-color;
        @include flex-center;
        @include breakpoint(xs){
            justify-content: center;
        }
        @include breakpoint(ms){
            justify-content: center;
        }
        
        .box{
            background-color: $white;
            width: 60%;
            height: 60%;
            box-shadow:1px 3px 10px grey ;
            #errorMessage{
                color: $danger;
                font-weight: bolder;
            }
            @include breakpoint(md){
                width: 100%;
            };
            @include flex-center;
            justify-content: center;
                    .btn{
                        @include flex-center;
                        justify-content: center;
                    }
                    #allIn{
                    width: 210px;
                    }
                    .centerLock{
                        @include flex-center;
                        justify-content: center;
                        padding-bottom: 1rem;
                    }
                    #openlock{
                        width: 106px;
                        height: 96px;
                    }
                    #codeText{
                        font-size: 20px;
                        font-weight: bolder;
                        @include flex-center;
                        justify-content: center;
                        padding-bottom: 1rem;
                    }
            .input-lock{
               @include flex-center; 
               height: 30px;
               margin-top: 8px;
               input{
                border: 1px solid $primary-dark;
                font-size: 18px;
                height: 100%;
                padding: 5px 9px;
               }
               input:focus {
                outline: none;
              }
            }
            ul{
                display: block;
                list-style: none;
            }
            
        }
    }
}
.resend-otp {
   text-align: center;
   cursor: pointer;
   
   p{
    padding: 10px;
    color: $secondary-color;
    font-weight: bold;
   }
}
.error-message-otp{
    padding-bottom:10px ;
    text-align: center;
}
#dark.container{
    background-color:$background-dark;
   .right{
    background-color:$background-dark;
    .box{
        background-color: $primarydark-color;
    }
    #openlock,#codeText,label,.resend-otp{
        color: $textprimary-color-dark;
    }
    .input-lock{
      input{
        background-color: inherit;
        color: $primary-color;
      }
    }
   }
   .left{
    color: $textprimary-color-dark;
   }
}