@import "../../variables/variables.scss";

.card-container-detail {
  display: flex;
  flex-direction: row;
  background-color: $primary-color;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.img-detail img {
  margin: 20px;
  width: 130px;
  height: 130px;
}
.content-body {
  width: 100%;
  margin: 40px 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}

.detail-one p:first-child {
  font-size: 17px;
  font-weight: 600;
}
.detail-one p:last-child {
  font-size: 16px;
  font-weight: 400;
  padding-top: 13px;
}

.detail-two p:first-child {
  font-size: 17px;
  font-weight: 600;
}
.detail-two p:last-child {
  font-size: 16px;
  font-weight: 400;
  padding-top: 13px;
}

@media screen and (min-width: 481px) and (max-width: 900px) {
  .card-container-detail {
    display: flex;
    flex-direction: column;
    column-gap: -20px;
    // width: fit-content;
    padding: 0 20px;

    .img-detail img {
      margin: 10px 0;
      object-fit: cover;
      width: 100%;
    }
  }

  .content-body {
    flex-direction: column;
    align-items: flex-start;
  }
  .detail-one {
    margin-top: -30px;
    margin-left: -30px;
  }
  .detail-one p:first-child {
    font-size: 17px;
    font-weight: 600;
  }
  .detail-two {
    margin-top: -10px;
    margin-left: -30px;
  }
}
