@import "../../variables/variables.scss";
@import "../../pages/User/Login.scss";
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $background-white !important;
}
.recommended-container {
  padding: 4rem 10rem;
  .re-card-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;

    .card-one-rec {
      width: 250px;
      .card-title-rec {
        font-size: 16px;
      }
      img {
        width: 100%;
        height: 25rem;

        object-fit: cover;
      }
    }
  }
}

.product-section {
  background-color: $primary-color;
  max-width: 114rem;
  margin: 0 auto;
  padding: 0rem 10rem 4rem;
  .category-show-icon {
    display: none;
  }
  .category-links {
    display: flex;
    justify-content: space-between;
    font-size: $medium-font-size;
    gap: 1.5rem;
    margin-bottom: 2rem;
    list-style-type: none;
    li {
      &:first-child .category-link {
        border-bottom: 1px solid $primarydark-color;
      }
    }
  }
  .category-link:link,
  .category-link:visited {
    color: $primarydark-color;
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    transition: all 0.3s;
  }
  .category-link:hover,
  .category-link:active {
    border-bottom: 1px solid $primarydark-color;
  }
  h3 {
    font-size: $heading-font-size;
    text-transform: uppercase;
    color: $primarydark-color;
  }
  .products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
  }
  .btn-icon {
    @include loginBtn($primarydark-color, $primary-color);
    border: 1px solid $accent;
    padding: 0.5rem;
    font-size: $small-font-size;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .css-i4bv87-MuiSvgIcon-root {
      font-size: 1.8rem !important;
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 2rem;
  .card-one {
    img {
      width: 100%;
      height: 25rem;
      object-fit: cover;
    }
  }
  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: $medium-font-size;
      color: $primary-dark;
    }
    h5 {
      font-size: $medium-font-size;
      font-weight: 500;
    }
    .icon {
      .css-i4bv87-MuiSvgIcon-root {
        color: $secondary-color;
        font-size: 1.8rem !important;
      }
    }
  }
}
@media (max-width: $breakpoint-lg) {
  .product-section {
    h3 {
      font-size: $body-font-size;
    }
  }
  .recommended-container {
    .re-card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5rem;
      row-gap: 2rem;
    }
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;
  }
}
@media (max-width: $breakpoint-md) {
  .product-section {
    .category-show-icon {
      display: block;
    }
    .category-links {
      display: none;
    }
  }
  .recommended-container {
    .re-card-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
      row-gap: 2rem;
    }
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
  }
}
@media (max-width: $breakpoint-sm) {
  .recommended-container {
    .re-card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
    }
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
#dark{
  .product-section {
    background-color: $primarydark-color;
   h3,.category-show-icon, .category-link{
    color: $primary-color;
   }
   .btn-icon{
    background-color:$primarydark-color;
    color: $primary-color;
   }
  }
  .card-title {
    p {
      color: $textprimary-color-dark;
    }
    h5 {
      color: $primary-color;
    }
    .icon {
      margin-right: 6%;
      .css-i4bv87-MuiSvgIcon-root {
        color: $secondary-color;
      }
    }
  }
}