@import '../../variables/variables.scss';

*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: $background-white !important;
}

@mixin loginBtn($col, $bgcol) {
    background-color: $bgcol;
    color: $col;
    width: 100%;
    padding: .8rem 3rem;
    display: block;
    text-align: center;
    font-size: $body-font-size;
    border: none;
    border-radius: .8rem;

}

@mixin lines {
    content: '';
    position: absolute;
    display: block;
    width: 40%;
    height: 1px;
    top: 40%;
    text-align: center;
    background-color: $accent;
}

@mixin forgot {
    color: $secondary-color;

    font-size: $small-font-size;
    margin: 1rem 0;
}

.login_container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 7rem 0;

    .login {
        display: flex;

        height: fit-content;
        width: 100%;
        justify-content: center;


        &-text {
            font-size: $heading-title;
            font-weight: 600;
            margin: 1rem 0rem;
            color: $primarydark-color;
        }

        &-btn,
        &-btn {
            @include loginBtn($primary-color, $secondary-color );
        }

        &-btn:hover,
        &-btn:active {
            @include loginBtn($primary-color, $accent );
            transition: all 3s;
        }

        p {
            font-size: $medium-font-size;
        }



        &-left {
            width: 50%;

            // background-color: aqua;
            background-color: $primary-color;



            .form {
                padding: 3rem;

                &-login_logo {
                    h1 {
                        color: $secondary-color;
                        font-size: $heading-font-size;

                        span {
                            color: $primarydark-color;
                        }
                    }
                }
            }

            input {
                padding: 1rem;
                display: block;
                width: 90%;
                border-radius: .8rem;
                border: 1px solid $accent;

                margin: 1.5rem 0;
                ;
            }

            .passwordField {
                position: relative;

                .password-toggle-icon {
                    position: absolute;
                    top: 12px;
                    right: 18px;
                    z-index: 1000;
                    cursor: pointer;
                }
            }



            .forgetText:link,
            .forgetText:visited {
                @include forgot;
                display: block;
                text-align: right;
            }

            .forgetText:hover,
            .forgetText:active {
                color: $accent;
                transition: all 3s;
            }



            .or {
                position: relative;
                display: block;
                text-align: center;
                font-size: $medium-font-size;
                color: $primary-dark;


                &:before {
                    @include lines;
                    left: 0%;

                }

                &:after {
                    @include lines;
                    right: 0%;

                }

            }


        }

        &-right {
            width: 50%;
            height: 100%;
            background-color: $secondary-color;


            img {
                width: 100%;
                height: 100%;
                // padding: 3rem;

            }

            h3 {
                color: $primarydark-color;
                font-size: $body-font-size;
                letter-spacing: 1.7px;

                margin-left: 5rem;


                .break {
                    display: block;
                }

                .white-text-color {
                    color: $primary-color;


                }
            }

            // background: red;
        }
    }

    .gmailLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .gmail-btn {
            @include loginBtn($primary-dark, transparent);
            border: 1px solid $accent;
            border-radius: 2rem;
        }


    }


    .registerText {
        @include forgot;
    }

    .account-not {
        margin: 1rem 0;
        color: $primarydark-color;
    }

}

@media (max-width:$breakpoint-medium) {

    .login_container {
        max-width: 100%;


        padding: 4rem;


        .login {
            display: flex;
            width: 100%;

            // background-color: white;
            flex-direction: column-reverse;

            .account-not {
                text-align: center;
            }

            &-left {
                width: 100%;
            }

            &-right {
                display: none;

            }


            .passwordField {
                position: relative;

                .password-toggle-icon {
                    position: absolute;
                    top: 12px;
                    right: 50px;
                    z-index: 1000;
                    cursor: pointer;
                }
            }



        }
    }

}

@media (max-width:$breakpoint-small) {
    .login_container {
        max-width: 100%;


        padding: 2rem;


        .login {





            .passwordField {
                position: relative;

                .password-toggle-icon {
                    position: absolute;
                    top: 12px;
                    right: 30px;
                    z-index: 1000;
                    cursor: pointer;
                }
            }



        }
    }

}

.success {
    color: $success;
    font-size: $medium-font-size;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
}

.error {
    color: $danger;
    font-size: $medium-font-size;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
}

.process {
    color: $primary-color;
    font-size: $medium-font-size;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
}