@import '../variables/variables.scss';

.card-form {
  background-color: $primary-color;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40vw;
  margin: 10vh auto;

  @media (max-width: 375px) {
    width: 90vw; /* Adjust the width for smaller screens */
    padding: 20px; /* Adjust the padding for smaller screens */
    font-size: 10px;
    margin: 10vh auto; /* Adjust the margin for smaller screens */
  }
  @media (max-width: 781px) {
    width: 70vw; /* Adjust the width for smaller screens */
    padding: 20px; /* Adjust the padding for smaller screens */
    margin: 10vh auto; /* Adjust the margin for smaller screens */
  }
}

.formgroup {
  display: flex;
  flex-direction: row;
}

.formgroup label {
  flex-basis: 30%; /* Adjust the width of the label column */
  margin-right: 10px; /* Add spacing between the label and input */
}

.formgroup input[type='password'] {
  flex-grow: 1; /* Allow the input to take up remaining space */
}
.formgroup input[type='text'] {
  flex-grow: 1; /* Allow the input to take up remaining space */
}
label {
  color: $primarydark-color;
}
input[type='password'] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  &:focus {
    border-color: $accent;

    outline: none;
  }
  @media (max-width: 375px) {
    width: 40vw;
  }
}
input[type='text'] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  &:focus {
    border-color: $accent;

    outline: none;
  }
  @media (max-width: 375px) {
    width: 40vw;
  }
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: $secondary-color;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20vw;

  @media (max-width: 375px) {
    width: 50vw; /* Adjust the width for smaller screens */
  }
  @media (max-width: 781px) {
    width: 48vw; /* Adjust the width for smaller screens */
  }
}
.button-container {
  display: flex;
  justify-content: right;
}
.form-title {
  padding: 20px 40px;
  margin-left: 10rem;
  display: flex;

  @media (max-width: 781px) {
    margin-left: 15rem; /* Adjust the margin for smaller screens */
  }

  @media (max-width: 375px) {
    margin-left: 5rem; /* Adjust the margin for smaller screens */
  }
}
.form-title span {
  font-weight: bold;
  padding-top: 16px;
}
.word-update {
  color: $secondary-color;
  font-weight: bold;
}
.error-message {
  color: $danger;
  margin-bottom: 8px;
  align-items: center;
}
.error-message p {
  margin-top: auto;
}
