@import "../../variables/variables.scss";
.results-list {
  width: 100%;
  background-color:$primary-color;
  // background-color: green;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px $background-white-dark;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
}



