
@import "../../variables/variables.scss";

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: $primary-color;
  border-radius: 10px;
  // z-index: 1;
  fill:#7A89E9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: rotate(360deg);
  }
}

#search-input {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left:10px ;


  &::placeholder {
    color: transparent;
  }

  &:focus::placeholder {
    color: rgb(131, 128, 128);
  }

  &:focus,
  &:not(:placeholder-shown) {
    background-color:$primary-color;
    width: 290px;
    cursor: none;
    padding: 18px 16px 18px 40px;
  }
}


